/******************/
/* Landing Page */
/******************/
html, body{
	height: 100%;
}

body{
	background-image: url('./img/sushidevland/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Overpass', sans-serif;
	overflow-y: scroll;
}

.screen-center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.show-when-mobile{display: none;}

.welcome-brand{
	font-size: 5.5rem;
	font-family: 'Varela Round', sans-serif;
}
.brand-tagline{
	font-size: 1.3rem;
}

.mast-foot{
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	padding-bottom: 30px;
}

.vflip-animation{
	animation-name: vflip;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	display: inline-block;
}

@keyframes vflip{
	50% {transform: rotateY(180deg);}
}

/***************************/
/* Media Query */
/**************************/
@media only screen and (max-width: 1178px) {
  .welcome-brand {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 857px) {
  body{background-image: url('./img/sushidevland/flat.jpg');}
  .line-break{display: block;}
  .hide-when-mobile{display: none;}
  .show-when-mobile{display: block;}
  .mast-foot{padding-bottom: 10px;}
}
@media only screen and (max-width: 496px) {
  .body{font-size: 10px;}
  .welcome-brand{font-size: 3.3rem;}

}

/* font pairing notes: 1st web: 8;
	2nd web: 23, 26,;
*/